.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.modal-open-button, .modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  width: 250px;
  height: 150px;
  padding: 15px;
}
.modal-container {
  /* 기존 스타일 */
  z-index: 1000;
}
