.image-wrapper {
  width: 100%; /* 이미지를 감싸는 부모 요소의 너비에 맞게 설정 */
  height: 100%; /* 이미지를 감싸는 부모 요소의 높이에 맞게 설정 */
  overflow: hidden; /* 이미지를 부모 요소 내에 자르기 위해 사용 */
}

.image-wrapper img {
  width: 100%; /* 이미지의 너비를 부모 요소에 맞게 설정 */
  height: 100%; /* 이미지의 높이를 부모 요소에 맞게 설정 */
  object-fit: cover; /* 이미지를 빈 공간 없이 채우도록 설정 */
}
