.button{
  background-color: #161A30;
  color: white;
  border-radius: 10px;
  width: 50px;
  text-align: center;
  height: 30px;
  font-size: small;
}

.likecate{
  border: 1px solid black;
  background-color: white;
  padding: 6px;
  margin-right: 10px;
  border-radius: 20px;
  display: inline-block;
}